body {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    
}

.height-100vh{
    height: 100vh !important;
}
.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-img {
    height: 40px;
    filter: invert(39%) sepia(55%) saturate(1483%) hue-rotate(323deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.nav-pokemon {
    height: 80px;
    position: relative;
}

.nav-pokeball {
    height: 70px;
    z-index: -1;
}

.input-container input {
    outline: none;
    border-radius: 12px;
}

.search-button {
    height: 40px;
    cursor: pointer;
    margin: 12px;
}
#headContainer {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

#pokemonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-card {
    border: 2px groove rgba(220, 220, 220, 0.3);
    box-shadow: 6px 0 12px 0 rgba(220, 220, 220, 0.3);
    cursor: pointer;
    width: 230px;
    color: rgba(230, 230, 230, 1);
    border-radius: 12px;
    
}

.no-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.text-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em !important;
   
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.pokemon-heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.empty-archive {
    background-image: url('./img/empty.png') !important;
    background-size: contain !important;
    background-position: center !important; 
    height:100vh !important;
    background-repeat: no-repeat !important; 
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important;
}

.pokemon-img {
    height: 190px;
    width: 190px;
    z-index: 3;
    left: 35px;
}
.text_matt_background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 2px;
    text-align: center;
    font-size: 1.5em !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-white-little {
    color: white;
    font-size: 0.7em;
}

.grass {
    border: 2px groove rgba(40, 220, 40, 0.3);
    box-shadow: 6px 0 12px 0 rgba(40, 220, 40, 0.6);
    color: rgba(20, 160, 20, 1);
}

.fire {
    border: 2px groove rgba(220, 40, 40, 0.3);
    box-shadow: 6px 0 12px 0 rgba(220, 40, 40, 0.6);
    color: rgba(180, 20, 20, 1);
}

.water {
    border: 2px groove rgba(40, 40, 240, 0.7);
    box-shadow: 6px 0 12px 0 rgba(40, 40, 240, 0.7);
    color: rgba(20, 20, 220, 1);
}
.poison {
    border: 2px groove rgba(113, 25, 113, 0.7);
    box-shadow: 6px 0 12px 0 rgba(133, 45, 133, 0.7);
    color: rgb(103, 15, 103);
}

.bug {
    border: 2px groove rgba(120, 220, 20, 0.3);
    box-shadow: 6px 0 12px 0 rgba(140, 250, 20, 0.6);
    color: rgba(140, 230, 20, 1);
}

.electric {
    border: 2px groove rgba(220, 220, 20, 0.3);
    box-shadow: 6px 0 12px 0 rgba(250, 250, 20, 0.6);
    color: rgba(230, 230, 20, 1);
}

.ground {
    border: 2px groove rgba(150, 100, 0, 0.3);
    box-shadow: 6px 0 12px 0 rgba(150, 102, 0, 0.6);
    color: rgba(150, 100, 0, 1);
}

.fairy {
    border: 2px groove rgba(235, 115, 127, 0.3);
    box-shadow: 6px 0 12px 0 rgba(255, 132, 147, 0.6);
    color: rgb(245, 125, 137); 
}

.fighting {
    border: 2px groove rgba(65, 48, 15, 0.3);
    box-shadow: 6px 0 12px 0 rgba(95, 78, 25, 0.6);
    color: rgb(55, 38, 5);
}

.psychic {
    border: 2px groove rgba(240, 40, 240, 0.7);
    box-shadow: 6px 0 12px 0 rgba(240, 40, 240, 0.7);
    color: rgba(220, 20, 220, 1);
}

.rock {
    border: 2px groove rgba(97, 67, 8, 0.3);
    box-shadow: 6px 0 12px 0 rgba(127, 97, 38, 0.6);
    color: rgba(97, 67, 8, 1);
}

.ice {
    border: 2px groove rgba(40, 220, 240, 0.7);
    box-shadow: 6px 0 12px 0 rgba(40, 230, 240, 0.7);
    color: rgb(20, 210, 220);
}

.ghost {
    border: 2px groove rgba(30, 30, 131, 0.7);
    box-shadow: 6px 0 12px 0 rgba(40, 40, 140, 0.7);
    color: rgb(10, 10, 111);
}

.flying {
    border: 2px groove rgba(28, 28, 146, 0.7);
    box-shadow: 6px 0 12px 0 rgba(88, 88, 206, 0.7);
    color: rgb(38, 38, 156);
}

.dragon {
    border: 2px groove rgba(64, 20, 131, 0.7);
    box-shadow: 6px 0 12px 0 rgba(64, 20, 121, 0.7);
    color: rgb(54, 10, 111);
}
.steel {
    border: 2px groove rgba(50,50, 50, 0.7);
    box-shadow: 6px 0 12px 0 rgba(130, 130, 130, 0.7);
    color: rgb(150, 150, 150);
}
.dark {
    border: 2px groove rgba(50,50, 50, 0.7);
    box-shadow: 6px 0 12px 0 rgba(100, 100, 100, 0.7);
    color: rgb(70, 70, 70);
}

.pokemon-button {
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: rgba(230, 230, 20, 1);
    color: black;
    padding: 12px;
    border-radius: 6px;
    font-family: 'Philosopher', sans-serif;
    cursor: pointer;
    border: none;
    font-weight: 900;
    font-size: 1.2em;
}

.dialog-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
#pokemonTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    padding: 12px;
}


.d-none {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.pokemonball-img {
    height: 5px;
    width: 5px;
    animation-name: show;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes show {
    from {transform: scale(1); }
    to {transform: scale(150); }
}

#pokemonHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: bottom;
    width: 300px;
}

.back-icon {
    filter: invert(1);
    height: 20px;
    cursor: pointer;
}

#pokemonAttributes {
    background-image: url('./img/background2.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
    top: -5px;
    border-radius: 12px;
}

.pokemonTile-child {
    padding: 12px;
}

.attribute-name {
    margin-bottom: 0 !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 12px;
    border-radius: 6px;
}

.progress-bar {
    color: #000 !important;
    font-weight: 800;
    font-size: 1.3em;
}



@media (max-width: 450px){
    .input-container input {
        width: 120px;
    }
}