body {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
   
}
.nav {
    height: 80px;
}

#headContainer {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
    

}

.pokemon-card {
    border: 2px groove rgba(220, 220, 220, 0.3);
    box-shadow: 6px 0 12px 0 rgba(220, 220, 220, 0.3);
    cursor: pointer;
    width: 230px;
    color: rgba(230, 230, 230, 1);
    border-radius: 12px;
    
}

.no-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.text-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.pokemon-heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

   
}

.pokemon-img {
    height: 190px;
    width: 190px;
}
.text_matt_background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 2px;
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-white-little {
    color: white;
    font-size: 0.7em;
}

.grass {
    border: 2px groove rgba(40, 220, 40, 0.3);
    box-shadow: 6px 0 12px 0 rgba(40, 220, 40, 0.6);
    color: rgba(20, 160, 20, 1);
}

.fire {
    border: 2px groove rgba(220, 40, 40, 0.3);
    box-shadow: 6px 0 12px 0 rgba(220, 40, 40, 0.6);
    color: rgba(180, 20, 20, 1);
}

.water {
    border: 2px groove rgba(40, 40, 240, 0.7);
    box-shadow: 6px 0 12px 0 rgba(40, 40, 240, 0.7);
    color: rgba(20, 20, 220, 1);
}
.poison {
    border: 2px groove rgba(240, 40, 240, 0.7);
    box-shadow: 6px 0 12px 0 rgba(240, 40, 240, 0.7);
    color: rgba(220, 20, 220, 1);
}

.bug {
    border: 2px groove rgba(120, 220, 20, 0.3);
    box-shadow: 6px 0 12px 0 rgba(140, 250, 20, 0.6);
    color: rgba(140, 230, 20, 1);
}

.electric {
    border: 2px groove rgba(220, 220, 20, 0.3);
    box-shadow: 6px 0 12px 0 rgba(250, 250, 20, 0.6);
    color: rgba(230, 230, 20, 1);
}

.pokemon-button {
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: rgba(230, 230, 20, 1);
    color: black;
    padding: 12px;
    border-radius: 6px;
    font-family: 'Philosopher', sans-serif;
    cursor: pointer;
    border: none;
    font-weight: 900;
    font-size: 1.2em;
}

.dialog-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pokemonTile {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.d-none {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }